
.background-image{
    background-image:url(Images/hug_dog.jpg);
    height:82vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.buttons{
    background-color: #202020;
    color: #fff;
    padding: 0;
    text-align: center;
}

.buttParent{
    display: flex;
}
.buttChild{
    margin: 20px auto;
}
.footer-background{
    background-color: #202020;
    color: #fff;
    padding: 60px;
}

.form-content {
	margin: 5% 25%;
	padding: 5% 0px;
	max-width: 100%;
	border:2px solid black;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(130, 125, 125,0.2);

}

.input-label {
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin: 5px;

}

.inputs {
	width: 400px;
	padding: 5px;
}

.textarea {
	margin-top: 10px;
}

.submit-btn {
	padding: 10px 30px;
	text-transform: uppercase;
}



.home-img {
	display: block;
	margin: 0px auto;
	border-radius: 10px;
	width: 60%;
	height: 40%;


}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
